[user]
	name = pabsan-0
	email = 63670587+pabsan-0@users.noreply.github.com

[init]
	defaultBranch = master

[core]
	editor = vim
[credential]
	helper = store

[alias]
    s = status
    co = checkout
    cc =  commit 
    d = diff 
    ds = diff --staged
    adog = log --all --decorate --oneline --graph
